@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

.container {
  background-image: url('./images/base/mobile_intro_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;
}

.desktop-nav {
  display: none;
}

.nav-items a {
  display: block;
  text-decoration: none;
}

.logo {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272a33;
}

.burger {
  position: relative;

  /* display: block; */

  /* margin: 5px 0px; */
  cursor: pointer;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bar {
  position: relative;
  cursor: pointer;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.burger.active .bar:nth-child(2) {
  opacity: 0;
}

.burger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #000;
}

.burger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #000;
}

.heading {
  margin-top: 3rem;
  color: #ec5242;
}

.heading p {
  text-align: center;
}

.check-in-text {
  padding-top: 1rem;
  color: #000;
}

.second-title {
  font-weight: bold;
  color: #000;
}

.heading h1 {
  font-size: 2.5rem;
  text-align: center;
}

.heading h2 {
  color: #868686;
  margin-top: 1.875rem;
}

.title {
  font-size: 1.563rem;
  font-weight: 300;
}

.heading .second-title {
  color: #868686;
  margin-top: 0.5rem;
  padding-bottom: 1.563rem;
}

.heading .description {
  margin-top: 2.313rem;
  border: #fff 2px solid;
  background-color: #fff;
  padding: 1rem;
  line-height: 1.25rem;
  color: #868686;
  display: inline-block;
  text-align: center;
}

.logo-summit h3 {
  text-align: center;
  margin: 2rem;
  font-weight: 400;
}

.logo-summit h3::after {
  content: '';
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  bottom: 0;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 0.8em;
}

.none {
  display: none;
}

.logo-summit {
  border-bottom: #868686 1px solid;
}

.logo-summit p {
  text-align: center;
}

.logo-summit-2023 {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  text-decoration: none;
  color: #ec5242;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* hudson history */

.history {
  margin-left: 1rem;
  margin-right: 1rem;
}

.history img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.history h3 {
  text-align: center;
  margin: 2rem;
  font-weight: 400;
}

.history h3::after {
  content: '';
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  bottom: 0;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 0.8em;
}

.history p {
  text-align: center;
  margin-bottom: 1rem;
}

.partners {
  background-color: #272a33;
  display: block;
  padding: 1rem;
  margin-bottom: 40px;
}

.partners h1 {
  text-align: center;
  color: #868686;
  font-weight: 400;
  padding: 1rem;
}

.partners h1::after {
  content: '';
  height: 2px;
  width: 50px;
  background-color: #ec5242;
  bottom: 0;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 0.8em;
}

.partners img {
  width: 100px;
}

.partners-container div {
  padding: 10px;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.creative-commons {
  display: none;
}

.creative-commons-logo img {
  width: 145px;
}

.copy-right p {
  color: #3b3e45;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 13.078px; /* 130.779% */
  letter-spacing: -0.1px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  margin-bottom: 27px;
  gap: 1rem;
}

.copy-right .lorem {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-nav-items {
    position: fixed;
    top: 100vh;
    left: 0;
    gap: 0;
    flex-direction: column;
    background: #ec5242;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    text-align: left;
    transition: 0.3s;
    padding-top: 106px;
  }

  .nav-items {
    list-style-type: none;
    margin: 5px 20px;
  }

  .nav-items a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  .desktop-nav-items.active {
    top: 0;
  }

  .burger {
    display: block;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url('./images/base/main_big.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    padding: 0;
  }

  .burger {
    display: none;
  }

  .heading {
    margin: 200px 200px;
  }

  .heading h1 {
    font-size: 65px;
  }

  .heading .title {
    display: none;
  }

  .heading h1::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #ec5242;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 0.8em;
  }

  .check-in-text {
    padding-top: 1rem;
  }

  .second-title {
    padding-top: 1rem;
    text-decoration: underline;
  }

  .desktop-nav {
    background-color: #272a33;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    padding-right: 224px;
  }

  .desktop-nav ul {
    list-style-type: none;
    display: flex;
  }

  .desktop-nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }

  #campaign-btn {
    border: 5px solid #ec4327;
    color: #ec4327;
    padding: 0 17px 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twitter-icon {
    padding-left: 20px;
  }

  .logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #ec5242;
    margin-left: 200px;
  }

  .desktop-navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .desktop-navbar ul {
    list-style-type: none;
    display: flex;
    margin-right: 200px;
    gap: 20px;
  }

  .desktop-navbar ul li a {
    text-decoration: none;
    color: #000;
    transition: all 0.15s linear;
  }

  .desktop-navbar a:hover {
    color: #ec5242;
  }

  /* Logo Summit */

  .logo-summit {
    border-bottom: #868686 1px solid;
  }

  .logo-summit h3 {
    text-align: center;
    margin: 2rem;
    font-weight: 700;
    font-size: 30px;
  }

  .logo-summit h3::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #ec5242;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 0.8em;
  }

  .logo-summit p {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
  }

  .logo-summit-2023 {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    text-decoration: none;
    color: #ec5242;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .none {
    display: inline-block;
  }

  /* History */

  .history {
    text-align: center;
  }

  .history img {
    margin-bottom: 4.625rem;
    padding-left: 1.563rem;
    display: inline-block;
    width: auto;
  }

  .history h3 {
    text-align: center;
    margin: 2rem;
    font-weight: 700;
    font-size: 30px;
  }

  .history h3::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #ec5242;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 0.8em;
  }

  .history p {
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Partners */

  .partners {
    background-color: #272a33;
    padding: 0 200px;
    display: none;
  }

  .partners h1 {
    text-align: center;
    color: #868686;
    font-weight: 400;
    padding: 1rem;
  }

  .partners h1::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #ec5242;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 0.8em;
  }

  .partners img {
    display: inline-block;
    width: auto;
  }

  .partners-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .partners-container div {
    margin: 30px;
  }

  footer {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
    justify-content: center;
    align-content: center;
  }

  .creative-commons {
    align-items: center;
    margin-right: 4.063rem;
    display: inline;
  }

  .copy-right {
    padding-top: 6.5rem;
    padding-bottom: 4.625rem;
    align-items: center;
  }

  .copy-right p {
    color: #fff;
    text-align: left;
    font-size: 12px;
  }

  .copy-right .lorem {
    display: inline-block;
    font-size: 12px;
  }

  .copy-right .copy-right-author {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 20px;
  }

  .creative-commons-logo {
    display: none;
  }
}
