@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Lato, sans-serif;
  }

  .container {
    background-image: url('./images/base/mobile_intro_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
  }

  .desktop-nav {
    display: none;
  }

  .nav-items a {
    display: block;
    text-decoration: none;
  }

  .logo {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #272A33;
  }

  .burger {
    position: relative;
    /* display: block; */
    /* margin: 5px 0px; */
    cursor: pointer;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-bar {
    position: relative;
    cursor: pointer;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #000000;
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #000000;
  }

  .heading{
    margin-top: 3rem;
    color:#EC5242;
  }

  .heading h1 {
    font-size: 2.5rem;
  }

  .heading h2 {
    color: #868686;
    margin-top: 1.875rem;
  }

  .title{
    font-size: 1.563rem;
    font-weight: 300;
  }

  .heading .second-title {
    color: #868686;
    margin-top: 0.5rem;
    padding-bottom: 1.563rem;
  }

  .heading .description {
    color: rgb(0, 0, 0);
    margin-top: 2.313rem;
    border: #fff 2px solid;
    background-color: #fff;
    padding: 1rem;
    line-height: 1.25rem;
    color: #868686;
    display: inline-block;
}

/* main section*/

.main-program {
    background: url('./images/base/program-summary-bcg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

.main-program h1 {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.main-program h1::after {
  content: '';
  height: 4px;
  width: 50px;
  background-color: #EC5242;
  bottom: 0;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 0.8em;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 0.625rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-title {
  color: #EC5242;
  font-weight: 500;
  font-size: 1rem;
}

.card-info {
  color: #fff;
}

.services-btn {
  background-color: #EC5242; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  margin: 20px;
}

/* Specialist Doctors*/

.specialist-doctors {
  padding: 1rem;
}

.specialist-doctors h1 {
  position: relative;
  text-align: center;
  color: #000000;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.specialist-doctors h1::after {
content: '';
height: 4px;
width: 50px;
background-color: #EC5242;
bottom: 0;
border-radius: 10px;
margin: 0 auto;
display: block;
margin-top: 0.8em;
}

.specialist-cards {
  margin-top: 50px;
}

.specialist-info {
  display: flex;
  gap: 0.5rem;
  padding-bottom: 30px;
}

.specialist-info img {
  max-height: 180px;
}

.specialist-name {
  font-weight: bold;
}

.specialist-title {
  color: #EC5242;
  padding-bottom: 1rem;
}

.show-more-btn {
  display: block;
  width: 100%;
  border: #868686 1px solid;
  background-color: #fff;
  color: #868686;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  align-content: center;
}
.partners {
  display: none;
}

footer {
  display: none;
}

@media screen and (max-width: 768px) {
  .desktop-nav-items {
    position: fixed;
    top: 100vh;
    left: 0;
    gap: 0;
    flex-direction: column;
    background: #EC5242;
    mix-blend-mode: multiply;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    text-align: left;
    transition: 0.3s;
    padding-top: 106px;
  }

  .nav-items {
    list-style-type: none;
  }

  .nav-items a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 32px;
    line-height: 40px;
  }

  .desktop-nav-items.active {
    top: 0;
  }

  .nav-items {
    margin: 5px 20px;
  }

  .burger {
    display: block;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 99;
  }

}

/* Desktop */

@media screen and (min-width: 768px) {
  .container{
    background-image: url('./images/base/main_big.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    padding: 0;
  }

  .burger {
    display: none;
  }

  .heading {
    margin: 200px 200px;
  }

  .desktop-nav {
    background-color: #272A33;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    padding-right: 224px;
  }

  .desktop-nav ul {
    list-style-type: none;
    display: flex;

  }

  .desktop-nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
  }

  .twitter-icon {
    padding-left: 20px;
  }

  .logo {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #EC5242;
    margin-left: 200px;
  }

  .desktop-navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .desktop-navbar ul {
    list-style-type: none;
    display: flex;
  }

  .desktop-navbar ul li {
    margin-right: 200px;
  }

  .desktop-navbar ul li a {
    text-decoration: none;
    color: #000000;
    margin-left: 30px;
  }

  /* Popular Services*/

  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-left: 200px;
    margin-right: 200px;
  }

  .main-program h1 {
    margin: 50px 50px;
  }

  .btn-container {
    margin: 50px 50px;
  }

  /* Specialist Doctors Section*/

  .specialist-cards {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 200px;
    margin-right: 200px;
  }

  .show-more-btn {
    display: none;
  }

  /* Partners */

  .partners {
    background-color: #272A33;
    display: block;
  }

  .partners h1 {
    text-align: center;
    color: #868686;
    font-weight: 400;
    padding: 1rem;
  }

  .partners h1::after {
    content: '';
    height: 4px;
    width: 50px;
    background-color: #EC5242;
    bottom: 0;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 0.8em;
  }

  .partners-container {
    margin-left: 200px;
  }
  
  footer {
    display: flex;
  }

  .logo-container {
    padding: 100px 30px;
  }

  .copy-right {
    padding-top: 78px;
  }

  .copy-right-author {
    font-weight: bold;
  }

}